*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
body{
    width: 100%;
}

.header-div{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
header{
    width: 100%;
    padding: 11px 76px;
    position: fixed;
    z-index: 9999;
    background-color: white;
}



.header-leftside{
    width: 537px;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 77px;
}

.header-rightside{
    width: 120px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-leftside > a{
font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0.04em;
text-align: left;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }

  /* .header-leftside > p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: left;
  } */


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .droplink{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: left;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    font-family: Roboto;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #e7e7e7ec}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



/* FOOTER */
footer{
    background-color: #F1E6E566;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    padding: 52px 200px;
}

.footer-1{
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-2{
    width: 45%;
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-1 > a{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #5C5C5C;
    display: flex;
    flex-direction: column;
}

.footer-2 > a{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #5C5C5C;
    display: flex;
    flex-direction: column;
}

.footer-3 > p{
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: right;
    color: #5C5C5C;
}

.social-media{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}


/* MAIN ALL */

h3{
    font-family: Roboto;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #5C5C5C;   
}

button{
    background: #E6897C;
    width: 100%;
    height: 53px;
    padding: 16px
     /* 60px 16px 60px არასწორი მონაცემებია FIGMA-ში*/
     ;
    border-width: 0;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;

    transition: 0.5s;
}

button:hover{
    background: #ff7563;
    cursor:pointer;
}


/* MAIN 1 */

.main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:76px;
}

.main1-left{
    width: 384px;
    /* height: 407px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 121px;
}

.main1-left > a{
    width: 205px;
    margin-top: 60px;
}

.shop-div > a{
    width: 205px;
    margin-top: 60px;
}

.main1 > img{
    max-width: 50%;
}

/* MAIN 2 */

.main2{
    background: #FFFCFC;
    height: 1025px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 121px; 
}

.products-div{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    gap: 20px;
}

.product1 > img{
    max-width: 100%;
}

.product2 > img{
    max-width: 100%;
}

.product3 > img{
    max-width: 100%;
}

.product1 > a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 388px; */
    height: 50px;
    background-color:#B7BAD9;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;

    position: relative;
    top:-4px;

    transition: 0.5s;
}

.product2 > a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 388px; */
    height: 50px;
    background-color:#B7BAD9;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;

    position: relative;
    top:-4px;

    transition: 0.5s;
}

.product3 > a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 388px; */
    height: 50px;
    background-color:#B7BAD9;

    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: white;

    position: relative;
    top:-4px;

    transition: 0.5s;
}

.main2 > h3{
    text-align: center;
}

.main2 > a{
    width: 387px;
    max-width: 31.9%;
    margin: 0px auto;
}

/* MAIN 3 */

.main3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 121px;
}

.shop-div{
    width: 384px;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-right: 100px; */ /* ზედმეტია */
    margin-left: 30px;
}

.main3 > img{
    max-width: 50%;
}





/* . */
.product1 > a:hover{
background-color:#a4aae7;
}

.product2 > a:hover{
    background-color:#a4aae7;
}

.product3 > a:hover{
    background-color:#a4aae7;
}