/* ------------------------------------ HEADER ------------------------------------ */
@media screen and (max-width: 900px) {
    .header-leftside{
        margin: 10px;
        gap: 10px;
        align-items: center;
    }

    header{
        padding: 5px 20px 5px 5px;

    }
}

/* ------------------------------------ FOOTER ------------------------------------ */
@media screen and (max-width: 600px) {    
    .footer-div{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-1 {
        height: 100%;
        padding: 30px;
        margin: auto;
    }

    .footer-2 {
        height: 100%;
        padding: 30px;
        margin: auto;
    }

    .footer-1 > a, .footer-2 > a{
        text-align: center;
    }

    .footer-3{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .footer-3 > p {
        text-align: center;
    }

    .social-media {
        justify-content: center;
    }

    .footer-3 > img {
        margin: auto;
    }
}

/* ------------------------------------ ABOUT US ------------------------------------ */

@media screen and (max-width: 900px) {
    .about-photo > img{
        width: 90%;
    }

    article{
        width: auto;
        height: auto;
        padding: 20px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    article > p{
        font-size: 10px;
    }

    .about-text{
        height: auto;
    }
}

/* ------------------------------------ CONTACT US ------------------------------------ */

@media screen and (max-width: 900px) {
    .contact-div {
        gap: 10px;
        margin: 0 auto;
        width: 80%;

        display: flex;
        flex-direction: column;
    }

    .contact-div > img {
        margin: auto;
        padding: 0;
    }

    .right-side {
        max-width: 100%;
    }

    h2{
        text-align: center;
    }

    form {
        gap: 10px;
    }

    input{
        width: 100%;
        height: 55px;
        padding: 10px;
    }
    
    textarea{
        width: 100%;
        height: 201px;
        padding: 10px;
        resize: none;
    }

    footer{
        position: relative;   /* only for Contact Us page */
        top: 500px;   /* only for Contact Us page */
    }
}

@media screen and (max-width: 600px) {
    footer{
        position: relative;   /* only for Contact Us page */
        top: 230px;   /* only for Contact Us page */
    }
}